/* General Stuff */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://wallpaperaccess.com/full/1288076.jpg);

}

.body-inner {
    max-width: 1024px;
    margin: auto;
    color: rgb(3, 14, 24);
}

.heading {
    width: 100vw;
    padding: 20px 0;

    text-align: center;
}

.chat-background {
    background-color: white;
    width: 30em;
    padding: 20px 0.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}

.form-first,
.form-second,
.form-third {
    border-radius: 10px;
}

.coffeetea-label {
    margin-top: 20px;
}

.messagebox{
    background-color: grey;
    padding: 30px;
    border-radius: 30px;
}

.leftdiv{
    width: 33%;
    text-align: left;
}

.centerdiv{
    width: 33%;
    text-align: center;
}

.rightdiv{
    width: 33%;
    text-align: right;
}

#chat{
    display:flex;
    flex-direction: column;
    gap: 12px;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
}

/* tests */

.login-register-label {
    display: inline-block;
    /*float: left;*/
    clear: left;
    width: 50%;
    text-align: right;
    margin: 0.5em;
}

.login-register-input {
    display: inline-block;
    /*float: left;*/
}

.fieldset-login {
    border: none;
}

.login-register-mg {
    width: 70%;
    margin: 0 auto;
    border-radius: 15px;
}

.login-register-mg-up-down {
    margin-top: 1em;
    margin-bottom: 1em;
}

.div-btn {
    display: flex;
    justify-content: center;
}

/* colors */

.bg-color-lg {
    background-color: rgba(238, 238, 238, 0);
}

.bg-color-white {
    background-color: white;
}

.white {
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.red {
    color: red;
}

/* spacing*/

.pd-up-down {
    padding: 1em 0;
}

.pd-up-down-light {
    padding: 0.4em 0;
}

.pd-left-right {
    padding: 0 1em;
}

.pd-up {
    padding: 1em 0 0 0;
}

.pd-list {
    padding: 0.4em 0 0.4em 0.4em;
}

.pd-outer {
    padding: 30px;
}

.pd-light {
    padding: 0.9em 0 0.9em 1.8em;
}

.h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.h3 {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

.mg-up-down {
    margin: 20px 0;
}

/* Profile Settings */

.img {
    margin-right: 20px;
}

#form-settings fieldset {
    border: none;
}

.aboutyou-textarea {
    width: 100%;
    min-height: 150px;
    color: lightgray;
    font-size: 0.9em;

}

.chat-list {
    list-style-type: none;

}

input[type="radio"] {
    margin-right: 5px;
    margin-bottom: 10px;
}

.form-fourth {
    display: flex;
    justify-content: center;
}

::placeholder {
    padding-top: 4x;
}

/* Profile */

.main-profile {
    background-color: white;
    border-radius: 10px;
    display: flex;
}


/*Register Form*/

.register-form-inner {
    border-radius: 10px;
}


/* button style*/

.btn {
    min-width: 80px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(100, 182, 250);
    border-radius: 10px;
}

.btn-wide {
    min-width: 80px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(100, 182, 250);
    padding: 0px 10px;
    border-radius: 10px;
}

.btn-large {
    padding: 0 10px;
}

.btn-cancel {
    background-color: lightgrey;
    margin-right: 10px;
}

.btn-save {
    background-color: rgb(100, 182, 250);
}

.btn:hover {
    background-color: rgb(87, 87, 87);
    color: white;

}

.btn-remove:hover {
    background-color: rgb(179, 5, 5);
}

.btn-save:hover {
    background-color: rgb(44, 44, 224);
}

.btn-register {
    min-width: 80px;
    height: 30px;
    border: none;
    color: white;
    background-color: lightgray;
    margin: 0 10px;
    border-radius: 10px;
}

.btn-register:hover {
    background-color: gray;
}

.btn-wide:hover {
    background-color: gray;
}

.para-one {
    line-height: 2.0;
}

.friends-list a {

    color: rgb(88, 88, 190);
    text-decoration: none;
}

.friends-list li {
    list-style-type: none;
    list-style-image: url(/images/spacecraft-spaceship-svgrepo-com.svg);
    font-size: 40px;
}

/* ____________ FRIENDS _______________ */


.number-right {
    float:right;

}

@media (min-width: 600px) {

    .inner-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main-profile {
        width: 800px;
    }

    .personality-two {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }




}

@media (min-width: 100px) {

    .inner-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-profile {
        width: 60%;
    }

    .personality-two {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
    .login-register-label {
        text-align: left;
    }
}