/* General Stuff */

* {
    margin: 0;
        padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;

}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://wallpaperaccess.com/full/1288076.jpg);

}


.body-inner {
    max-width: 1024px;
    margin: auto;
    color: rgb(3, 14, 24);



}

.heading {
    background-color: rgba(26, 34, 82, 0.411);
    width: 100vw;
    padding: 20px 0;
    position: sticky;
    top: 0;
    text-align: center;
}

.chat-background{
    background-color: white;
    width: 18em;
    padding: 20px 0.5em;
}

.center {
    margin: auto;
}

/* colors */

.bg-color-lg {
    background-color: rgba(238, 238, 238, 0);
}

.bg-color-white {
    background-color: white;
}

.white {
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.red {
    color: red;
}

/* spacing*/

.pd-up-down {
    padding: 1em 0;
}

.pd-up-down-light{
    padding: 0.4em 0;
}

.pd-left-right {
    padding: 0 1em;
}

.pd-up {
    padding: 1em 0 0 0;
}

.pd-outer {
    padding: 30px;
}

.pd-light {
    padding: 0.9em 0 0.9em 1.8em;

}



.h2 {
    font-size: 2em;
    color: rgb(255, 255, 255);
}

.mg-up-down {
    margin: 20px 0;
}

/* Profile Settings */

.img {
    margin-right: 20px;
}

#form-settings fieldset {
    border: none;
}



.aboutyou-textarea {
    width: 100%;
    min-height: 150px;
    color: lightgray;
    font-size: 0.9em;

}

.chat-list {
    list-style-type: none;

}


input[type="radio"] {
    margin-right: 5px;
    margin-bottom: 10px;
}



.form-fourth {
    display: flex;
    justify-content: center;
}

::placeholder {
    padding-top: 4x;
    padding-left: 2px;
}




/* Profile */

.main-profile {
    background-color: white;
}

.cv {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.personality-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.personality-two p {
    margin-bottom: 5px;
}





/* button style*/

.btn {
    min-width: 80px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(100, 182, 250);
}

.btn-wide {
    min-width: 80px;
    height: 30px;
    border: none;
    color: white;
    background-color: rgb(100, 182, 250);
    padding:0px 10px;
}

.btn-large {
    padding: 0 10px;
}

.btn-cancel {
    background-color: lightgrey;
    margin-right: 10px;
}

.btn-save {
    background-color: rgb(100, 182, 250);
}

.btn:hover {
    background-color: rgb(87, 87, 87);
    color: white;

}

.btn-remove:hover {
    background-color: rgb(179, 5, 5);
}

.btn-save:hover {
    background-color: rgb(44, 44, 224);
}

@media (min-width: 600px) {

    .inner-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .main-profile {
        width: 80%;
    }

    .personality-two {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


}

